importFrom("methods", setClass, setGeneric, setMethod, representation, new)
exportClasses(Sequences, Descriptors, MetricParams, MotifModelSet, MotifModel)
export(default.MetricParams, descriptors, simpleDescriptors, motifModel, aclust, motifModelSet, changeClusterFormat, read.sequences, write.sequences, distance.sequences, write.fasta, read.fasta)
importFrom("utils", data)
importFrom("graphics", plot)
importFrom("stats", dist, kmeans, residuals, logLik, predict, BIC)
exportMethods(dist, plot, BIC, predict, logLik, print, residuals, rbind, classify, motifString, plotFits, plotPositions, plotStartingPosition)
S3method("rbind", Sequences)
S3method("print", MotifModel)
S3method("plot", MotifModelSet)
